<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DJANGO</title>
     <link rel="stylesheet" href=" {% static "css/mystyle.css" %} " >
  </head>
  <body>
    <h1>WELCOME TO MY PAGE</h1>
    <h3>THIS IS YOUR ACCESSRECORDS</h3>
    <div class="django">

    {%  if access_records %}

      <table>
        <thead>
          <th>SITE NAME</th>
          <th>ACCESSED DATE</th>
        </thead>

        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}

      </table>


      {% else %}
      <p>NO ACCESS RECORDS</p>
      {% endif %}


    </div>
  </body>
</html>
